#footer {
    color: $seashellpeach;
    font-size: 0.75rem;
    text-align: center;
    font-family: $IBM;
    margin-bottom: 10px;
    padding-top: 40px;
    @include media('>=phone') {
        margin-bottom: 40px;
        padding-top: 40px;
    }
    p {
        margin-bottom: 0;
    }
    .back-top {
        margin-bottom: 40px;
    }
}