#header {
    @extend %clearfix;
    padding-top: 22px;
    padding-bottom: 26px;
    display: flex;
    align-items: flex-start;
    @include media('>=phone') {
        padding-bottom: 30px;
    }
    @include media('>=desktop') {
        padding-top: 42px;
    }
}

.logo {
    @include size(223px, auto);
    text-align: center;
    @include media('>=phone') {
        @include size(353px, auto);
    }
    @include media('>=desktop') {
        @include size(430px, auto);
    }
    img {
        transition: all 0.01s ease;
        width: 100%;
    }
}

#nav {
    margin-left: auto;
    ul {
        @extend %clearfix;
        @extend %listreset;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-family: $IBM;
        font-weight: 500; 
        @include media('>=phone') {
            font-size: 1.875rem;
        }
        li {
            display: block;
            text-align: right;
            margin-bottom: 20px;
            @include media('>=phone') {
                margin-bottom: 42px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: $primary;
                display: inline-block;
                transform: scale(1.06);
                &:hover {
                    color: $primary;
                    transform: scale(1);
                }
            }
        }
    }
}